<h2>Badges</h2>
<span matBadge="4" matBadgeDescription="You have mails"><mat-icon>mail</mat-icon></span>
<span matBadge="4" matBadgeOverlap="false"><mat-icon>mail</mat-icon></span>
<span matBadge="4" matBadgeSize="small"><mat-icon>mail</mat-icon></span>
<span matBadge="4" matBadgeColor="accent"><mat-icon>mail</mat-icon></span>
<span matBadge="4" matBadgeColor="warn"><mat-icon>mail</mat-icon></span>
<h2>Cards</h2>
<mat-card>
  <mat-card-title>Coole Komponenten für Angular-Anwendungen</mat-card-title>
  <mat-card-subtitle>Angular Materials machts möglich</mat-card-subtitle>
  <span>Weitere Informationen findest Du <a href="https://material.angular.io/components/categories" target="_blank">hier</a>.</span>
  <mat-card-actions>
    <button mat-button><mat-icon>thumb_up</mat-icon></button>
    <button mat-button><mat-icon>share</mat-icon></button>
  </mat-card-actions>
</mat-card>
